html {
    background-image: url('../images/bg_grey.jpg');
    background-size: cover;
    background-color: grey;
}

body {
    width: 60%;
    margin-left: 20%;
    padding: 1em 2em 1em 2em;
    background-color: rgba(255, 255, 255, 0.87);
}

@font-face {
    font-family: 'Sigmar One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
}

h1, h2 {
 font-family: 'Sigmar One', cursive;
 color: #B86E28;
 font-size: 3em;
 text-align: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

textarea {
    background-color: white;

    &:focus {
        border: 3px solid #B86E28;
    }
}

#submitNewNote{
    cursor: pointer;
    border: 2px solid white;
    background-color: #B86E28;
    opacity: 0.5;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    transform: scale(1);
    transition: all 350ms ease-in-out;

    &:hover {
        transform: scale(1.2);
        opacity: .8;
        
    }
}



.note {
    list-style-type: none;
    margin-left: 10%;
  
    
}

.extrait {
    border: 1px solid black;
    background-color: #b86e2870;
    opacity: 0.8;
    padding: 1em 2em;
    text-align: justify;
    width: 200px;
    height: 50px;
    overflow: hidden;
    cursor: zoom-in;
    transition: all 350ms ease-in-out;
    &:hover {
        width:fit-content;
        opacity: 1;
        background-color: white;
        
    }

      
}

.buttonViewMore {
    position: relative;
}





footer {
    margin-top: 25%;
    text-align: end;
    color: #B86E28;
    font-weight: bold;
    font-family: 'Sigmar One', cursive;
}